In [1]:
import pandas as pd

from trainer import config

c:\Users\alexs\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv('./data/CTP10/en_CTP10.csv', index_col=0, encoding='utf8')

In [3]:
def tokenizing(tokenizer, data, max_length=1024):
    data = list(data.values)
    tokenized_data = tokenizer(data, padding=True, truncation=True, return_tensors='pt', max_length=max_length)
    
    input_ids = tokenized_data['input_ids']
    attention_mask = tokenized_data['attention_mask']

    input_ids[attention_mask == 0] = 0
    
    return input_ids, attention_mask

In [4]:
tokenizer = config['tokenizer']

In [7]:
input_ids, _ = tokenizing(tokenizer, df['description'], max_length=1024)
df['tokenized_description'] = input_ids.tolist()

In [9]:
df.to_csv('./data/CTP10/en_CTP10_tokenized.csv')
df.head()

,time_limit,memory_limit,description,tags,language,tokenized_description
Unnamed: 0,,,,,,
1616/E,1.0,256.0,give two string $$$ s $$$ $$$ t $$$ equal leng...,"['bruteforce', 'datastructures', 'greedy', 'st...",en,"[0, 26650, 80, 6755, 68, 42654, 579, 68, 42654..."
900/A,1.0,256.0,n distinct point a plane none lie oy axis chec...,"['geometry', 'implementation']",en,"[0, 282, 11693, 477, 10, 3286, 4146, 6105, 231..."
702/F,4.0,1024.0,big consignment t - shirts go sale shop begin ...,['datastructures'],en,"[0, 8527, 7407, 15645, 326, 111, 15331, 213, 1..."
181/A,2.0,256.0,berland capital shake three bold crimes commit...,"['bruteforce', 'geometry', 'implementation']",en,"[0, 1943, 1245, 812, 8559, 130, 7457, 3474, 62..."
1352/A,1.0,256.0,a positive ( strictly greater zero ) integer c...,"['implementation', 'math']",en,"[0, 102, 1313, 36, 14657, 2388, 4276, 4839, 48..."